.text-grad {
  background: linear-gradient(to left, orange, lime, yellow, red, hotpink);
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: animate 10s linear infinite;
  -webkit-text-stroke: 1.2px rgb(54, 50, 50);
  -webkit-text-fill-color: transparent;
}
@keyframes animate {
  to {
    background-position: 400%;
  }
}
